


html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;
}

.wrapper_header {
  margin-top: 10vh;
}

.wrapper_header h1 {
  padding-left: 8.5vw;
}

.datastream_div {
  cursor: pointer;
  margin: 5%;
  padding-bottom: 3vh;
  opacity: 0.8;
}

.datastream_div h4, span, p {
  margin-left: 1vw;
}

.datastream_div > div {
  margin-left: 1vw;
}

.add-form {
  background-color: aliceblue;
  opacity: 0.8;
  padding: 3%;
}

.saveData_btn {
  margin-top: 2vw;
  background-color: #1e88e5;
}

.deleteIcon {
  margin-top: 1vh;
  color: #d32f2f;
  cursor: pointer;
}

.datastream_div.showData {
  border-left: 7px solid aliceblue;
}

deleteIcon {
  cursor: pointer;
  display:flex;
  flex-direction:row-reverse;
  margin-top: 1vh;
  cursor: pointer;
}

.container {
  padding: 20px;
  min-height: 100%;
  margin-top: 5vh;
}

.MuiTableRow-root {
  margin-top: 50px;
}

.footer > div {
  margin-left: 0px;
}

.footer,
.push {
  height: 200px;
}

.showMoreBtn {
  margin-right: 2vw;
  background-color: #1e88e5;
}

.timelineContainer {
  margin-left: 5vw;
}


.search_container {
  background-color: aliceblue;
  opacity: 0.8;
  display: grid;
  grid-auto-flow: column;
}

.box {
  align-self: center;
}


.search_icon {
  font-size: 30px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin: 15px;
}

.search_input {
  grid-column: 2 / 12;
  grid-row: 1 / 3;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  background-color: #006064;
  z-index: 9999;
  left: 0;
}

.list {
  list-style-type: none;
  background-color: #006064;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.homeMobile {
  display: none;
}

.navIcon {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

.MuiInput-underline {
  border-bottom: none!important;
}

@media screen and (max-width: 950px) {
  .homeMobile {
    display: block;
  }
  .brand-logo {
    display: none!important;
  }

}


@media screen and (max-width: 650px) {
.search_icon {
  display: none;
}

}

@media screen and (max-width: 500px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  #nav-mobile {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #006064;
  }

  .items:nth-child(1) {
    border-top: 1px solid #f1f1f1;
    margin-top: 50px;
  }

  .items {
    width: 100%;
    border-top: 1px solid #f1f1f1;
    margin-right: 0px;
    padding: 20px 0;
  }

  .navIcon {
    display: block;
    cursor: pointer;
    color: #f1f1f1;
  }

}